@page
@model NewsWebsite.Pages.AccessDeniedModel
@{
    
    ViewData["Title"] = "AccessDenied";
}
<div>
    <h2 class="box">Acces Has Been  Denied to view any of the Sport Tournament Games</h2>
</div>

