@page
@model Gasoline_BV_Website.Pages.ProductionHomeModel
@{
    Layout = "Production_Layout";
    ViewData["Title"] = "ProductionHome";
}


<h3><span>Welcome to:@Model.production.FullName</span></h3>