@page
@model Gasoline_BV_Website.Pages.Supplier_SectionModel
@{
    Layout = "Supplier_Layout";
    ViewData["Title"] = "Supplier_Sectioin";
}


<h4>Welcome to Your Page:@Model.supplier.FullName</h4>
