@page
@model Gasoline_BV_Website.Pages.WareHouse_SectionModel
@{
    Layout = "WareHouse_Layout";
    ViewData["Title"] = "WareHouse_Sectioin";
}


<h3>Welcome to Your Page: @Model.warehouse.FullName</h3>
