
<!----<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SynthesisWebsite</title>-->

<!--@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
@*<script src="https://kit.fontawesome.com/a076d05399.js"></script>*@-->
<!--<!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->
<!--@*<link rel="stylesheet" href="~/css/site.css" />*@-->
<!--<!--<link rel="stylesheet" href="~/css/signup.css" />
<link rel="stylesheet" href="./css/navbar.css" />-->

<!--@*<link rel="stylesheet" href="~/css/content.css" />*@


@*<link rel="stylesheet" href="~/css/navbar.css" />*@-->
<!--<!--</head>
<body>
    <!---
     <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="container">
                 <a class="navbar-brand" asp-area="" asp-page="/Index">SynthesisWebsite</a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                     <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </nav>
     </header>
        -->
<!---->
<!---->@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ReponsiveWebsite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@
@*</header>*@<!---->
<!--<!--div class="container">
    <main role="main" class="pb-3">

    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">-->
<!---->
<!---->@*&copy; 2022 - ReponsiveWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>*@<!---->
<!--<!--</div>
</footer>-->
<!---->
<!---->@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@<!---->
<!--<!--<script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>-->
<!---->
<!---->@*@RenderSection("Scripts", required: false)*@
@*</body>
    </html>*@<!---->
<!--<!--<--><!----><!---->@*div class="TheBody">
    <div class="header" style="top: 0px; position: fixed;">
        <nav>
            <a class="a nav-link text-dark" asp-area="" asp-page="/EmployeeHome">Home</a>
            <a class="a nav-link text-dark" asp-area="" asp-page="/EmployeeProfile">Profile</a>
            <a class="a nav-link text-dark" asp-area="" asp-page="/AddTournaments">Content</a>
            <a class="a nav-link text-dark" asp-area="" asp-page="/ShowContents">AllContents</a>
            <a class="a nav-link text-dark" asp-area="" asp-page="/PersonInformations">PersonInfos</a>*@<!---->
<!--<!--<!--<-->
<!----><!--@*a class="LoginButton nav-link text-dark" asp-area="" asp-page-handler="" asp-page="/Login">Logout</a>*@-->
<!--<!--</nav>-->
<!--<div class="logo">
    Dark World
</div>
<a href="#" class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>
<nav>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>-->

<!--@*</header>*@-->
<!--<!--<script src="./js/nav.js"></script>
<div class="active">
    <partial name="_LoginStatusPartial" />
</div>
<section></section>-->
<!--<--><!----><!---->@*div class="mr-2">
        <partial name="_LoginStatusPartial" />
    </div>*@
@*</div>
    </div>*@
<!--<!--<div class="main_content">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
           
        </main>
    </div>
</div>-->
<!--@*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - SynthesisWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  

</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReponsiveWebsite</title>
    <!--<-->@*link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    @*<link rel="stylesheet" href="./css/.css" />*@
    <link rel="stylesheet" href="~/css/admin.css" />
    
    @*<link rel="stylesheet" href="./css/formcss.cs" />*@

    @*<link rel="stylesheet" href="./css/login.css" />*@
</head>
<body>
    <header>

        <!--<div class="logo">-->
        @*Dark World*@
        <!--DuelSys Sport-Association
    </div>
    <a href="#" class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>-->
        <!--<nav>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="EmployeeProfile">Profile</a></li>
        <li><a href="AllPersonInformations">PlayersInfo</a></li>
        <li><a href="AddTournaments">AddTournament</a></li>
        <li><a href="TournamentList">TournamentList</a></li>
        <li><a href="RegisterList">RegisterInfo</a></li>-->
        @*<li><a href="Edit">EditList</a></li>*@
        @*<li><a href="/Login">Login</a></li>*@


        <!--</ul>
    </nav>-->
        @*<h2 class="logo">Shopping-Cart</h2>*@
        @*<nav class="navigation">
            <a href="">Home</a>
            <a href="">Shopping-Cart List</a>
            <a href="">Service</a>
            <a href="">About</a>
            <button class="btnLogin-popup">Login</button>
        </nav>*@
        <nav>
            <div class="logo" style="background-color:#04AA6D;;" ,>
                <h4 style="color:white">Gasoline@BV</h4>
            </div>
            <ul>
                <a class="active" href="#productPage">Product Page</a>
                <a href="product">Product</a>
                <a href="StockList">Lists</a>
                <a href="AdminProfile">Admin-Profile</a>
                <a href="#UserInfor">UserInfor</a>


            </ul>
            <div class="login-container" style="color: blue">
                <!-- Your login content here -->
                <partial name="_LoginStatusPartial" />
                @*<a href="#">Login</a>*@
            </div>
            @*<div class="navbar" style="color:blue">

                <partial name="_LoginStatusPartial" />
            </div>*@
        </nav>
        <!--<div  style="color:blue" class="login-container">
            <!-- Your login content here -->
            <!--@*mr-2*@
            <!--<partial name="_LoginStatusPartial" />-->
            @*<a href="#">Login</a>*@
        @*</div>*@
        @*<div style="color:blue" class="active">
           
            <partial name="_LoginStatusPartial" />
        </div>*@
    </header>
    <script src="./js/nav.js"></script>


    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ReponsiveWebsite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    @*</header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2022 - ReponsiveWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>*@
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


@*@RenderSection("Scripts", required: false)*@
@*</body>
    </html>*@

