<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gasoline_BV_Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>ecommerce Website</title>
    <!--<-->@*script src="~/js/slider.js" asp-append-version="true"></script>*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link rel="stylesheet" href="~/css/styles.css" />*@
</head>
<body>
    @*<header>*@
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gasoline_BV_Website</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
          rel="stylesheet" />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/stock.css" />
   
    @*</head>*@
    @*<body>*@
    <!-- Header -->
<header class="header" id="header">
    <div class="navbar">
        <div class="logo">Gasoline@BV</div>
        <div class="toggle-button" id="toggleButton">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="">Home</a></li>
            <li><a href="StockList">Stocks</a></li>
            <li><a href="#">AddStock</a></li>
            <li><a href="ProductList">ProductList</a></li>
            <li><a href="">Services</a></li>
        </ul>
        <div style="color:white" class="active">
           
            <partial name="_LoginStatusPartial" />
        </div>
    </div>
    <script type="text/javascript">

        const toggleButton = document.getElementById('toggleButton');
        const navLinks = document.getElementById('navLinks');

        toggleButton.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>

</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gasoline_BV_Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/slider.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
